.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.recommenders
.DS_STORE

# Eclipse Core -- Preserve
# .project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# JDT-specific (Eclipse Java Development Tools) -- Preserve
# .classpath

# JavaFX -- Preserve
# *.fxbuild

# Java annotation processor (APT)
.factorypath

# Code Recommenders
.recommenders/
